* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    outline: none;
}

*:focus {
    outline: none;
}

body{
    overflow: hidden;
    padding: 0;
}

input, textarea, button {
        outline: none;
}

.maindiv{
    border: 2px solid #ac4;
    width: 98%;
    top: 9%;
    height: 85%;
    left: 1%;
    align-items: center;
    position: absolute;
}



.right-div {
    position: relative;
    width: 60%;
    height: 94%;
    float: right;
}

.topper {
    height: 6%;
    position: relative;
    border-bottom: 2px solid #ac4;
}

.main-text {
    width: 100%;
    height: 100%;
    position: relative;
    resize: none;
    border: none;
}

.tabs-buttons {
    position: absolute;
    right: 0px;
    width: 60%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    border-left: 1px solid #ac4;
    border-top: 1px solid #ac4;
    position: relative;
    width: 19%;
    top: 20%;
    height: 80%;
    background-color: #eee;
}


.chosenTab {
    border-left: 1px solid #ac4;
    border-right: 1px solid #ac4;
    border-top: 1px solid #ac4;
    position: relative;
    width: 19%;
    top: 12%;
    height: 88%;
    background-color: #fff;
}

.contentDiv {
	padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tab, .left-tab, .sendButton-nonactive, .openbutton, .logoutButton, #icon, #userNameText {
    cursor: pointer;
}

.sendButton-nonactive {
    position: relative;
    border: 2px solid #ac4;
    height: 70%;
    top: 15%;
    min-width: 120px;
    width: 10%;
    right: 5%;
    float: right;
    background-color: #eee;
}

.sendButton-nonactive:hover {
    background-color: #fff;
}

.footerDiv {
    position: absolute;
    height: 6%;
    top: 94%;
    width: 98%;
    left: 1%;
    background-color: #eee;
}

.sender {
    font: 12pt/10pt sans-serif;
    color: #a0c040;
    vertical-align: middle;
}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    height: 9%;
    top: 0;
    left: 1%;
    width: 98%;
    background-color: #eee;
}

.bottomWhite {
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 100%;
    width: 100%;
}

.openbutton {
    position: relative;
    border: 2px solid #ac4;
    height: 100%;
    width: 100%;
    float: right;
    background-color: #eee;
}
.openbutton:hover {
    background-color: #fff;
}
.file_upload{
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    height: 70%;
    top: 15%;
    min-width: 120px;
    width: 10%;
    left: 5%;
    float: left;
    background-color: #eee;
}

.file_upload input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    opacity: 0;
}

.pages-container>div{
        background-color: #fff;
        margin: 0;
}

.left-tab {
    border-left: 1px solid #ac4;
    border-top: 1px solid #ac4;
    border-right: 1px solid #ac4;
    position: relative;
    width: 19%;
    top: 20%;
    height: 80%;
    background-color: #eee;
}

.pages-container {
    position: absolute;
    padding:0px;
    width: 40%;
    height: 64%;
    float:left;
    overflow: auto;
    border-right: 2px solid #ac4;
    background-color: grey;
}

.objects-attr-container {
    position: absolute;
    display: inline-block;
    bottom: 0;
    padding:0px;
    margin-top: 27%;
    width: 40%;
    float:left;
    overflow: auto;
    border-right: 2px solid #ac4;
    /*background-color: grey;*/
}

.attributesBox{
    position: absolute;
    width: 35%;
    padding: 7px;
    padding-right: 20px;
    border: solid 1px black;
    left: 55%;
    top: 25%;
	overflow-y:scroll;

}
.objectBox{
    position: absolute;;
    width: 35%;
    padding: 7px;
    padding-right: 20px;
    border: solid 1px black;
    left: 7%;
    top: 25%;
	overflow-y:scroll;
}
.attributesText
{
    position: absolute;
    left: 7%;
    top: 18%;
}
.objectText
{
    position: absolute;
    left: 55%;
    top: 18%;
}
.list
{
    overflow: hidden;
    border: 0px;
    outline: none;
    opacity: 0.85;
}
.objWordBox
{
    position: absolute;
    left: 7%;
    top: 55%;
}

.attrWordBox
{
    position: absolute;
    left: 55%;
    top: 55%;
}
.delButton
{
    position: absolute;
    right: 18px;
    background: none;
    background-image:url('delButton.png');
    outline: none;
    width: 7%;
    height: 7%
    border: none;
}
.photo
{
    height: 40%;
    width: 18%;
    position: absolute;
    top : 10%;
    left: 4%;
    border: 2px solid #ac4;
}



.constrText {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.constraintPanel {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: %;
}

/*#constrBox {
    border-color: #c0c0c0;
}*/


