body {
    margin: 0px;
}

.drawer {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.tools {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.figures {
    display: flex;
    flex-direction: column;
    width: auto;
}

.list {
    flex-grow: 1;
}

.canvas {
    height: 90%;
    flex-grow: 2;
    background-color: white;
    margin: 20px;
    margin-left: 0px;
}


.figure {
    width: 100px;
    height: 70px;
    margin: 10px;
}

.column {
    margin-bottom: 5px;
}
