.figure, .link-options {
    text-align: center;
    display: inline-block;
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    padding: 5px;
}
.figure.selected {
    border: 2px dotted black;
}
.figure input,
.figure button,
.link-options input,
.link-options button,
.link-options select {
   /* Enable interacting with inputs only. */
   pointer-events: auto;
}

/* hidden link options */
.link-options.hidden {
    display: none;
}

/* generic round button styles */
.action {
    display: none;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 0px;
}

/* renaming */

.figure .input--rename, .link-options .input--rename {
    display: none;
    width: 75%;
}

.figure .input--rename {
    height: 20px;
    border: 0;
}

.figure .input--rename {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

}

.figure.figure--actor .input--rename {
    top: auto;
    bottom: 0px;
    width: 100%;
}

.figure.renaming .input--rename, .link-options.renaming .input--rename{
    display: inline-block;
}

/* show actions when hovered */
.figure.selected .action, .link-options.hovered .action {
    display: inline-block;
}

/* different actions */
.action--delete {
    color: white;
    background-color: #e74c3c;
}

.action--reverse {
    color: white;
    background-color: #8e44ad;
}

.action--settings {
    color: white;
    background-color: #d35400;
}

.action--makeKey {
    color: white;
    background-color: #16a085;
}

.link-options .action--settings {
    margin-left: 5px;
}

.figure .action--makeKey {
    position: absolute;
    top: 40px;
    left: -23px;
}

.figure .action--delete {
    position: absolute;
    top: -20px;
    left: -23px;
}

.figure .action--connect {
    position: absolute;
    top: 10px;
    color: white;
    background-color: #2c3e50;
}

/* use case link style select */
.link-options .style-select{
    display: none
}

.link-options.changing-style .style-select{
    display: inline-block;
}

.link-options.changing-style .action {
    display: none;
}
