.models {
    display: flex;
}

.model {
    margin: 10px;
}

.functional-model {
    flex-grow: 1;
}

.object-relation-model {
    flex-grow: 1;
}

.model .panel-body {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.model .figures {
    position: relative;
    justify-content: space-between;
    left: -15px;
    bottom: -35px;
    width: 135px;
    padding: 0px 15px 15px 15px;
}

.figures input {
    margin-top: 15px;
    height: 70px;
    width: 100px
}