* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mainBlock {
    border: #ac4 solid 2px;
    background-color: #e0f79c;
    width: 98%;
    top: 7%;
    height: 86%;
    left: 1%;
    align-items: center;
    position: absolute;
}

.mainBlockTeacher {
    border: #D04A5F solid 2px;
    background-color: #Faa0Ae;
    width: 98%;
    top: 7%;
    height: 86%;
    left: 1%;
    align-items: center;
    position: absolute;
}
.footerBlock {
    position: absolute;
    height: 7%;
    top: 93%;
    width: 98%;
    left: 1%;
    background-color: #eee;
}

.headerBlock {
    position: absolute;
    height: 7%;
    top: 0;
    left: 1%;
    width: 98%;
    background-color: #eee;
}

.typeOf {
    position: relative;
    width: 40%;
    height: 225px;
    left: 30%;
    top: 30px;
}

.student {
    position: absolute;
    width: 45%;
    height: 15%;
    left: 0;
    top: 0;
    background-color: #AED14A;
}

.teacher {
    position: absolute;
    width: 45%;
    height: 15%;
    left: 55%;
    top: 0;
    background-color: #D04A5F;
}

.container_form {
    position: absolute;
    height: 450px;
    width: 40%;
    top: 100px;
    background-color: grey;
    left: 30%;
}

#registration_form {
	margin:10px;
}
#registration_box {
	position:absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	text-align: center;
	padding: 0px;
	background-color: #f5f5f5;
	border: 1px dotted #000000;
	overflow: auto;
    display: block;
}
label {
	display:block;
	width:200px;
	padding:0 6px;
	float:left;
	text-align:right;
}
input {
	float:left;
}

form br {
	clear:both;
}

#student_field {
    display: none;
}

#teacher_field {
    display: none;
}
#submit {margin-left: 150px;}

#registration_result {
	display:block;
	margin:10px;
	text-align: left;
	text-indent: 5px;
	height:22px;
	line-height:22px;
}
.error {
	background:#f9caca;
	border: 1px solid #f00;
}
.success {
	background:#caf9ca;
	border: 1px solid #0f0;
}
.process {
	background:#cacaf9;
	border: 1px solid #00f;
}
.hidden {
    display: none;
}
