

.selects {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin:auto;
}

.gorizont {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.textareas {
    resize: none;
    otline: none;
    border-style: none;
    top:2%;
    left:3%;
    width: 94%;
    height: 98%;
    margin: 0;
    margin-left: 5px;
    opacity: 0.85;
}

.headd {

    padding: 0;
}


.tabName {
    text-align: center;
}
