

.selects {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin:0;
}

.selects.full {
    width: 100%;
    margin-right: 0px !important;
}

.selects.panel {
    margin-bottom: 0px;
}

.selects:first-child {
    margin-right: 2%;
}

.gorizont {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    background-color: white;
    padding: 10px;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.inputs.full {
    width: 100%;
    margin-right: 0px !important;
}

.input-wrap {
    min-width: 85px;
}

.inputs input {
    padding-left: 5px;
    padding-right: 5px;
    border-top: none;
    border-right: none;
    box-sizing: border-box;
	  border: none;
  width: 100%;
  height: 20%;
  margin: 0;
}
}

.inputs .full input {
    
}

.inputs:first-child {
    margin-right: 2%;
}

.obj-input {
    min-width: 60px;
}

.attr-input {
    min-width: 70px;
}

.textareas {
    resize: none;
    otline: none;
    border-style: none;
    top:2%;
    left:3%;
    width: 94%;
    height: 98%;
    margin: 0;
    margin-left: 5px;
    opacity: 0.85;
}

.headd {

    padding: 0;
}


.tabName {
    text-align: center;
}

.controlPanel{
  width: 20%;
  height: 100%;
  border: none;
  font-size: 15px;
  float:left;
  margin-right: 3px;
  margin-top: 5%;
}
#cont {
	width: 40%;
    height: 50%;
	margin-left: 0%;
	margin-right: auto;
}



#icon {
    background-image: url('icon/no_avatar.gif');
    background-size:cover;
    margin: auto;
    top:5px;
    width: 50px;
    height: 50px;
}

.logout {
    display: block;
    position: relative;
    overflow: hidden;
    height: 70%;
    top: 15%;
    min-width: 120px;
    width: 10%;
    left: 5%;
    float: left;
    background-color: #eee;
}

.icondiv {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.logoutButton {
    position: relative;
    border: 2px solid #ac4;
    height: 50%;
    top: 35%;
    min-width: 120px;
    width: 10%;
    right: 5%;
    float: right;
    background-color: #fee;
}

.logoutButton:hover {
    background-color: #fff;
}

.userTextDiv {
    margin-left: 10px;
}

.buttonsBar{
    position: absolute;
    padding-top: 3%;
    padding-left: 3%;
}

.namePanel{
    position: relative;
    width: 25%;
    margin-top: 3%;
    left: 3%;
    height: 50%;;
}
.detailsPanel{
    position: relative;
    width: 67%;
    margin-top: 3%;
    margin-left: 5%;
}
.deleteButton
{
    margin-left: 82%;
    border: none;
}
.al {
    position: relative;
    padding-top: 1%;
    padding-left: 1%;
}
.alBig {
    position: relative;
    padding-top: 3%;
    padding-left: 3%;
}
