

.selects {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin:auto;
}

.gorizont {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.textareas {
    resize: none;
    otline: none;
    border-style: none;
    top:2%;
    left:3%;
    width: 94%;
    height: 98%;
    margin: 0;
    margin-left: 5px;
    opacity: 0.85;
}

.headd {

    padding: 0;
}


.tabName {
    text-align: center;
}

.controlPanel{
  width: 20%;
  height: 100%;
  border: none;
  font-size: 15px;
  float:left;
  margin-right: 3px;
  margin-top: 5%;
}
#cont {
	width: 40%;
    height: 50%;
	margin-left: 60%;
	margin-right: 0%;
}

#userName {
  font-weight: bold;
    width: 30%;
}

#icon {
    background-image: url('icon/no_avatar.gif');
    background-size:cover;
    width: 10%;
    height: 170%;
  margin-top: 1%;

}
