# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
**/*.swp
**/*.swo
/DreamTeamProj/build/
/DreamTeamProj/WebContent/META-INF/context.xml
