<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/workenv.css">
    <link rel="stylesheet" href="../css/draw.css">
    <link rel="stylesheet" href="../css/object_models.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/joint.css">
    <script src="../js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
    <script src="../js/joint.js"></script>
    <script src="../js/snap.svg.js" type="text/javascript"></script>
    <script src="../js/draw.js" type="text/javascript"></script>
    <script src="../js/jdoc.0.5.2.js" type="text/javascript"></script>
    <script src="../js/workenv.js" type="text/javascript"></script>
    <script src="../js/textbox.js" type="text/javascript"></script>
    <script src="../js/controllers/object-diagram-controller.js "></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body ng-app="cache" >
    <!-- Header -->
    <div class="headerDiv">
         <div class="icondiv">
            <div id="icon"  onclick="location.href='projects.html'"></div>
            <div class="userTextDiv" id="userName">
                <h3 id="userNameText" onclick="location.href='projects.html'">Student</h3>
            </div>
        </div>
          <button id="logOut" class="logoutButton" onclick="location.href='login.html'">
            <font class="sender">Выйти</font>
          </button>
    </div>
    <!-- Working environment -->
    <div class="maindiv">
        <div class="topper">
            <input type="text" style="float: left; margin-left: 6px; border: none;"></input>
            <div class="tabs-buttons">
                <div name="tab" class="chosenTab">
                    <h5 class="tabName">Анализ ПО</h5>
                </div>
                <div name="tab" class="tab">
                    <h5 class="tabName">Диаграмма ER</h5>
                </div>
                <div name="tab" class="tab"></div>
                <div name="tab" class="tab"></div>
                <div name="tab" class="tab" style="border-right: 1px solid #ac4;"></div>
            </div>
        </div>
        <div id="pages-container" class="pages-container"></div>
        <div class="right-div">
            <div id="div1" style="padding: 20px;" name="contentDiv">
                <div class="gorizont">
                    <div class="selects panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            Объекты
                            </h3>
                        </div>
                        <div class="panel-body">
                            <select class="list" size="5" id="List1" onclick="refreshAttr();">
                            </select>
                        </div>
                    </div>
                    <div class="selects panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            Атрибуты
                            </h3>
                        </div>
                        <div class="panel-body">
                            <select class="list" size="5" id="List2">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="gorizont">
                    <div class="inputs panel panel-default">
                       <div style="background-color: #fff; padding: 0;" class="panel-heading">
                        <textarea class="textareas" id="wordTextBox" cols="30" rows="2" ></textarea>
                        </div>
                        <div style="padding:0;" class="panel-body">
                        <input type="button" style="border:none; width:100%; height:100%; margin:0;" class="btn btn-default" value="in List" onclick="addObj();">
                        </div>
                    </div>
                    <div class="inputs panel panel-default">
                       <div style="background-color: #fff; padding: 0;" class="panel-heading">
                        <textarea class="textareas" id="attrBox" cols="30" rows="2" ></textarea>
                        </div>
                        <div style="padding:0;" class="panel-body">
                        <input type="button" style="border:none; width:100%; height:100%; margin:0;" class="btn btn-default" value="AttrInList" onclick="addAttr();">
                        </div>
                    </div>
                </div>
            </div>

            <div id="div2" name="contentDiv">
                <div ng-controller="drawController">
                    <div class="drawer">
                        <div class="tools border">
                            <div class="figures panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Элементы</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="column">
                                        <button class="figure btn btn-default" ng-click="initEntity('empty');">Сущность</button>
                                        <button class="figure btn btn-default" ng-click="initAttribute();">Атрибут</button>
                                    </div>
                                    <div class="column">
                                        <button class="figure btn btn-default" ng-click="initAssociation();">Ассоциация</button>
                                    </div>
                                </div>
                            </div>
                            <div class="selects panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            Объекты
                            </h3>
                        </div>
                        <div class="panel-body">
                            <select class="list" ng-dblclick="initEntity();" size="5" id="List3">
                            </select>
                        </div>
                    </div>
                        </div>
                        <div class="canvas panel panel-default border" ng-click="closeOptions()">
                            <svg id="canvas">
                            </svg>
                            <div class="dialog change-name panel panel-default" ng-show="renameShow">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Введите название</h3>
                                </div>
                                <div class="panel-body">
                                    <input type="text" ng-model="renameValue" class="form-control" />
                                </div>
                                <div class="panel-footer">
                                    <input type="button" ng-click="cancelChange()" class="btn btn-default" value="Cancel" />
                                    <input type="button" ng-click="submitChange()" class="btn btn-primary" value="Save changes" />
                                </div>
                            </div>
                            <div class="dialog panel options panel-default" ng-show="optionsShow">
                                <div class="list-group">
                                    <a href="#" class="list-group-item" ng-click="renameObj()">Переименовать</a>
                                    <a href="#" class="list-group-item list-group-item-danger" ng-click="deleteObj()">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div3" name="contentDiv" ng-controller="objectDiagramController">

		<div class="models">
			<div class="panel panel-default functional-model model">
			    <div class="panel-heading">
				<h3 class="panel-title">Функциональная модель</h3>
			    </div>
			    <div id="functional-model" class="panel-body"> </div>
			    <div class="figuresBar panel panel-default">
				<input type="button" ng-click="initActor()" value="Актер" class="btn btn-default">
				<input type="button" ng-click="initService()" value="Сервис" class="btn btn-default">
		 	   </div>
			</div>
			<div class="panel panel-default object-relation-model model">
			    <div class="panel-heading">
				<h3 class="panel-title">Взаимодействия объектов</h3>
			    </div>
			    <div id="object-relation-model" class="panel-body"></div>
			    <div class="figuresBar panel panel-default">
				<input type="button" ng-click="initObject()" value="Объект" class="btn btn-default">
                            </div>
			</div>
		</div>
	    </div>
            <div id="div4" name="contentDiv">4</div>
            <div id="div5" name="contentDiv">5</div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footerDiv">
        <div class="file_upload">
            <button id="loadFile" class="openbutton">
                <font class="sender">ВЫБРАТЬ</font>
            </button>
            <div>Файл не выбран</div>
            <input id="file-field" type="file">
        </div>
        <button class="sendButton-nonactive">
            <font class="sender">ОТПРАВИТЬ</font>
        </button>
    </div>
</body>

</html>
