<div ng-controller="DashboardCtrl" class="container">
    <h2 class="page-title">Проекты</h2>
    <div class="projects">
        <div class="project-card" ng-repeat="project in projects" ui-sref="project({id: project.id})">
            <div class="project-card__info">
                <div class="project-card__title">{{project.title}}</div>
                <div class="project-card__description">{{project.description}}</div>
                <div class="project-card__edited">{{project.date | date}}</div>
            </div>
            <div class="project-card__actions">
                <span class="project-card__action" ng-click="editProject($event, project)">Edit</span>
                <span class="project-card__action" ng-click="removeProject($event, project)">Remove</span>
            </div>
        </div>
        <div class="project-card project-card--new" ng-click="createProject()">
            <span class="project-card__message"><i class="fa fa-plus"/> Create new</span>
        </div>
    </div>
</div>
