<div class="left-side" ng-class="{'shrunk': shrunk}">
    <div class="menu">
        <ul class="menu__list">
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.document"
                uib-tooltip="Документ" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-file-text fa-fw"></i>
                    <span class="menu__item__text">Документ</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.useCase"
                uib-tooltip="Диаграмма Use-Case" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-user fa-fw"></i>
                    <span class="menu__item__text">Диаграмма Use-Case</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.objectRelations"
                uib-tooltip="Диаграмма взаимодействия" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-arrows-h fa-fw"></i>
                    <span class="menu__item__text">Диаграмма взаимодействия</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.informationalRequirements"
                uib-tooltip="Информационные потребности" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-info-circle fa-fw"></i>
                    <span class="menu__item__text">Инф. потребности</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.statistics"
                uib-tooltip="Статистики" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-bar-chart fa-fw"></i>
                    <span class="menu__item__text">Статистики</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.reports"
                uib-tooltip="Отчеты" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-newspaper-o fa-fw"></i>
                    <span class="menu__item__text">Отчеты</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.algorithmicDependencies"
                uib-tooltip="Алгоритмические зависимости" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-superscript fa-fw"></i>
                    <span class="menu__item__text">Алгоритм. зависимости</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.integrityConstraints"
                uib-tooltip="Ограничения целостности" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-database fa-fw"></i>
                    <span class="menu__item__text">Ограничения целостности</span>
                </a>
            </li>
            <li class="menu__item" ui-sref-active="menu__item--selected" ui-sref="project.er"
                uib-tooltip="ER диаграмма" tooltip-placement="right" tooltip-enable="shrunk">
                <a href="" class="menu__link">
                    <i class="fa fa-table fa-fw"></i>
                    <span class="menu__item__text">ER диаграмма</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-shrink" ng-click="shrunk = !shrunk">
        <i class="fa fa-chevron-left"></i>
    </div>
</div>
<div class="extend-box">
    <div class="tile-container" ui-view></div>
</div>
<div class="panels-menu">
    <ul class="panels-menu__list">
        <li ng-class="{'panels-menu__item--selected': activePanels.objects}"
            class="panels-menu__item fa fa-lg fa-list" ng-click="toggleShowPanel('objects')"
            uib-tooltip="Объекты и атрибуты" tooltip-placement="left"></li>
    </ul>
</div>
<div class="panels">
    <div ng-show="activePanels.objects" jqyoui-draggable ng-include="'templates/entities-attrs.html'"></div>
</div>
