<html>

<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="snap.svg.js">
    </script>

    <script src="js.js"></script>

</head>

<body ng-app="cache" ng-controller="drawController">
    <div class="container">
        <div class="tools border">
            <div class="figures">
                <div class="column">
                    <button class="figure" ng-click="initEntity()">Сущность</button>
                    <button class="figure" ng-click="initAttribute()">Атрибут</button>
                </div>
                <div class="column">
                    <button class="figure" ng-click="initEntity()">Ассоциация</button>
                </div>
            </div>
            <div class="list">
            </div>
        </div>
        <div class="canvas border">
            <svg id="canvas">
            </svg>
            <div class="dialog" ng-show="dialogShow">
                <span class="entityTitle">Введите название</span>
                <input type="text" ng-model="dialogValue" class="entityName" />
                <input type="button" ng-click="submitChange()" class="entityNameButton" value="OK" />
            </div>
        </div>
    </div>
</body>

</html>