<div class="tile" ng-controller="InformationalRequirementsCtrl">
    <div class="content-box">
        <div class="content-header">
            <div class="btn-group buttonsBar">
                <button class="btn btn-default" ng-class="{ active: tab.name === 'search'}" ng-click="selectTab('search')"> Поиск </button>
                <button class="btn btn-default" ng-class="{ active: tab.name === 'sort'}" ng-click="selectTab('sort')"> Сортировкa </button>
                <button class="btn btn-default" ng-class="{ active: tab.name === 'filter'}" ng-click="selectTab('filter')"> Фильтрация </button>
            </div>
        </div>
        <div class="box with-header">
            <div class="col-xs-1 panel panel-default namePanel">
                <div class="panel-heading ">
                    <h3 class="panel-title h2">{{tab.objectHeadText}}</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group objects-select">
                        <a ng-repeat="r in tab.requirements" ng-class="{active: r.id == tab.requirement.id}" href="#" ng-click="selectRequirement(r)" class="list-group-item">{{r.object.name}}</a>
                    </div>
                </div>
                <div class="panel-footer" ng-show="availableObjects.length">
                    <div class="btn-group">
                        <div class="dropup objDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить объект</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="obj in availableObjects"><a ng-click="addRequirement(obj)" role="menuitem" tabindex="-1" href="#">{{obj.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default detailsPanel ">
                <div class="panel-heading ">
                    <h3 class="panel-title">{{tab.attrsHeadText}}</h3>
                </div>
                <div class="panel-body" ng-show="tab.requirement">
                    <ul class="list-group">
                        <li ng-repeat="attr in tab.requirement.object.attrs" class="list-group-item">
                            {{attr.name}}
                            <span ng-click="removeAttr(attr)" class="badge">x</span>
                        </li>
                    </ul>
                    <div class="btn-group" ng-show="availableAttrs.length">
                        <div class="dropdown attrDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить атрибут</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="attr in availableAttrs"><a role="menuitem" ng-click="addAttr(attr)" tabindex="-1" href="#">{{attr.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
