<div id="header" class="header" ng-controller="NavCtrl">
    <div class="project-menu">
        <div id='cssmenu'>
            <ul>
                <li class='active has-sub'>
                    <a href='#'>
                        <span>Меню</span>
                    </a>
                    <ul>
                        <li class=''>
                            <a href='#' class="first" ng-click="saveCurrentProj();">
                                <span>Сохранить</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='' class="second" ng-click="goURL('settings.html#projects');">
                                <span>Перейти к другому проекту</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='#' class="second" ng-click="generateDoc();">
                                <span>Сгенерировать документ</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="user-block">
        <div id='cssmenu'>
            <ul>
                <li class='active'>
                    <a href='#'>
                        <span>{{ user.FullName }}</span>
                    </a>
                    <ul>
                        <li class=''>
                            <a href='' class="first" ng-click="goURL('settings.html#profile');">
                                <span>Редактировать информацию</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='#' class="second" ng-click="logout();">
                                <span>Выход</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
