.page-title {
  padding-bottom: 6px;
  margin-bottom: 24px;
  color: #424242;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  $bgColor:  #546e7a;

  background-color: $bgColor;
  margin: 15px;
  position: relative;
  color: white;
  min-width: 250px;
  height: 160px;
  width: calc(25% - 30px);
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover {
    background-color: lighten($bgColor, 5%);
  }
}

.project-card--new {
  background-color: #eeeeee;
  &:hover {
    background-color: #e0e0e0;
  }
  display: flex;
}

.project-card__message {
  color: #757575;
  margin: auto;
  font-size: 17px;
}

.project-card__info {
  padding: 20px 15px;
}

.project-card__title {
  font-size: 18px;
}

.project-card__description {
  margin-top: 5px;
}

.project-card__actions {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px 20px;
  text-align: end;
}

.project-card__action {
  color: #ffab40;
  transition: color .3s ease;
  text-transform: uppercase;
  margin-left: 10px;

  &:hover {
    color: #ffd8a6;
  }
}