@import '../shared/palette';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.text-center {
}

.landing-background {
    width: 100%;
    min-height: 100%;
    padding-bottom: 45px;
    //background-color: #4D394B;
    //background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMzA0MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRkMzk0YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    //background-size: 100%;
    //background-image: linear-gradient(to bottom right, #2c3042, #4d394b);
    background-color: $color-secondary;
}

.landing-main {
    margin: 0 auto;
    width: 420px
}

.landing-main__header {
    padding-top: 40px;
    margin-bottom: 30px;
    color: #fff
}

.header__line {
    text-align: center
}

.landing-panel {
    width: 100%;
    padding: 20px;
    transition: 0.6s;
    top: 0;
    left: 0;
}

.landing-form {
    margin: 0px;
}

.bord-trans.panel-footer {
    background-color: transparent !important;
    border-top: 0;
}
