@import '../shared/palette';
@import '../shared/animations';

// LEFT SIDE

.left-side {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.11);
  width: 250px;
  z-index: 1;
  border-right: 1px solid #ddd;
  transition: width 0.3s;
}

.left-side.shrunk {
  width: 54px;
}

// LEFT SIDE MENU

.menu {
  display: inline-block;
  position: relative;
  flex: 1;
}

.menu__list {
  list-style: none;
  padding: 20px 0px;
  margin: 0;
}

.menu__item {
  transition: border-left-width 0.1s;
  border-left: 0px solid $color-primary;
  line-height: 24px;
  padding: 7px 15px;
  color: $color-primary;
}

.menu__item:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.menu__link {
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
    color: $color-primary;
  }
  i {
    margin-right: 8px;
    font-size: 15px;
  }
}

.menu__item__text, .menu__link {
  font-size: 13px;
  line-height: 13px;
  height: 13px;
}

.menu__item__text {
  display: inline-block;
  opacity: 1;
  animation: appear .3s ease-in-out;

  .shrunk &, .shrunk-remove & {
    display: none;
    opacity: 0;
  }
}

.menu__item--selected {
  border-left-width: 6px;
  background-color: #F5F5F5;
}

// EXTEND BOX

.extend-box {
  position: relative;
  flex-grow: 5;
  z-index: 0;
  background: #eeeded;
}

// tool panels

.panels {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 70px;
  bottom: 0;
}

.panels-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

ul.panels-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: white;
  border-radius: 3px;
  height: auto;
  position: relative;

  .tooltip {
    margin-top: 6px;
    margin-left: -48px;
  }
}

.panels-menu__item {
  padding: 20px;
  cursor: pointer;

  &:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &:hover {
    background-color: #F5F5F5;
  }
}

.panels-menu__item--selected {
  color: $color-primary;
}

div.tool-panel.panel {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 300px;
  border: 0;
  position: relative;
}

div.tool-panel__heading.panel-heading {
  border: 0;
  color: white;
  background-color: $color-primary;
  padding: 15px;
  min-height: 47px;
  z-index: 1;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.16)
}

div.tool-panel__body {
  display: flex;
  padding: 0;
  flex: 2;
}

div.tool-panel__footer.panel-footer {
  background-color: white;
  box-shadow: 0px -3px 6px -1px rgba(0, 0, 0, 0.16);
}

.tool-panel--entities__footer {
  min-height: 54px;
}

.tool-panel__back {
  cursor: pointer;
  &::before {
    margin-right: 5px;
  }
}

.tool-panel__minify {
  cursor: pointer;
  float: right;
  &::before {
    margin-right: 5px;
  }
}

.list-group-item.entity, .list-group-item.attr{
  border-left: 0;
  border-right: 0;
  min-height: 38px;
  display: flex;
  position: static;

  &:first-of-type {
    border-top: 0;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

.entity__name, .attr__name {
  flex-grow: 1;
}

.entity__attrs-count {
  margin-right: 20px;
}

.entity__action.entity__action--remove, .attr__action.attr__action--remove {
  color: $color-danger;
  font-size: 17px;
}

.list-group.list-group--scrollable {
  flex: 1 1 auto;
  min-height: 0px;
  overflow: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.list-group__no-items {
  display: flex;
  align-items: center;
  flex: 1;
}

.no-items__text {
  width: 100%;
  text-align: center;
  color: #9E9E9E;
}

.menu-shrink {
  border-top: 1px solid #f5f5f5;
  padding: 10px;
  display: flex;
  font-size: 16px;
  color: $color-primary;
  cursor: pointer;
  flex-direction: column;

  i {
    align-self: center;
    transition: transform 0.3s ease-out;
    .shrunk & {
      transform: rotate(180deg)
    }
  }
}
