* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
    overflow: hidden;
}
.maindiv{
    border: 4px solid #ac4;
    width: 98%;
    top: 10%;
    height: 85%;
    left: 1%;
    align-items: center;
    position: absolute;
}
.left-div {
    position: relative;
    padding: 0 0 0 6px;
    width: 33%;
    height: 94%;
    float:left;
    border-right: 2px solid #ac4;
}

.right-div {
    position: relative;
    width: 67%;
    height: 94%;
    float: right;
}

.topper {
    height: 6%;
    position: relative;
    border-bottom: 2px solid #ac4;
}

.main-text {
    width: 100%;
    height: 100%;
    position: relative;
    resize: none;
    border: none;
}
input {
    margin: 4px;
}
