.photo
{
    height: 43%;
    width: 18%;
    position: absolute;
    top : 20%;
    left: 4%;
    border: 2px solid #B5B5B5;
}
.nameText
{
    text-align: center;
}
.buttons
{

    position: absolute;
    border: 2px solid #B5B5B5;
    height: 40px;
    width: 40%;
    background-color: white;

    left: 35%;
}
.continueButton
{
    top:35%;
}
.openButton
{
    top: 45%;

}
.downloadButton
{
    top: 55%;
}



