@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
    text-decoration: none;
    !important color: cadetblue;
    !important font-weight: 700;
}

.header,
.footer {
    position: absolute;
    background-color: darkgrey;
    width: 100%;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
}

#background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.header {
    top: 0px;
    height: 3em;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    bottom: 0px;
    order: 3;
    padding-bottom: 3;
    padding-top: 3;
    padding-right: 16;
}

.main {
    padding-top: 3em;
    padding-bottom: 1.3em;
    order: 2;
    background-color: whitesmoke;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.legal-copyright {
    color: whitesmoke;
    text-align: right;
    font-size: 12;
    margin: 0;
}

.firstTab {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.custom-restricted-width {
    display: inline-block;
    position: relative;
    height: 48%;
}

.editTextTabButton {
    flex: 1;
}

//TODO
.showTextButton {
    height: 100%;
}

.openTextButtonLink {
    width: 20px;
    padding: 6;
    margin: 0;
}

.oe {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /*margin: 5;*/
    position: relative;
}

.left-side {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    width: 20em;
    z-index: 1;
    border-right: 1px solid #ddd;
}

.add-obj-input {
    margin: 0px;
}

.extend-box {
    position: relative;
    flex-grow: 5;
    z-index: 0;
}

.project-menu {
    margin: 0;
}

.user-block {
    color: #fff;
    background: cadetblue;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.add-form {
    margin: 0 5px;
}

.add-form input {
    width: 70%;
}

.fullscr-button {
    align-self: center;
}

.divider {
    margin: 5;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.attr-count-td {
    position: relative;
    display: inline-block;
}

.table-oa {
    flex: auto;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.table-oa tr {
    width: 100%;
}

.obj-name-td {
    display: inline-block;
    position: relative;
    width: 85%;
}

.objects-tr {
    position: relative;
    width: 100%;
    padding: 3 0.4em;
}

.table-header {
    border-radius: 3px;
    background-color: cadetblue;
    padding: 0.4em;
    color: aliceblue;
}

.tbody-div {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 0px !important;
    height: 0;
    overflow: auto;
}

.object-container {
    flex-grow: 1;
    display: flex;
}

.object-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0px !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11) !important;
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11) !important;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11) !important;
}

.attr-box {
    border: 0 !important;
    box-shadow: 1px 1px 15px -2px black !important;
    background: #fff;
    position: absolute;
    width: 20em;
    height: 250px;
    left: 20.5em;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin: 0;
}

.table-attr {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.elem-name-td {
    display: inline-block;
    position: relative;
    width: 100%;
}

.user-name-logout-block {
    padding: 0.45em 0.7em 0 0.7em;
    color: #fff;
    background: cadetblue;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.cursor-pointer {
    cursor: pointer;
}


/* canvas for diagrams export */

#canvas {
    display: none;
}

.settings-links {
    margin: 10px auto 5px 10px;
    display: flex;
    flex-direction: row;
}

.settings-main {
    flex-direction: column !important;
    padding-top: 2.625em !important;
}

.icons-grey {
    color: gray;
}

.link-nav-block {
    margin-right: 7px;
}

.cursor-default {
    cursor: default;
}

.settings-header {
    height: 2.625em !important;
}

.link-nav-block a,
.link-nav-block a:link,
.link-nav-block a:visited,
.link-nav-block a:active {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    color: dimgrey;
}

.link-nav-block a:hover {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    color: darkgray;
}
