@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: cadetblue;
}


#cssmenu > ul > li > a {
    padding: 1.4em 0.5em 0 0.9em;
    height: 100%;
    border-right: 1px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #d3eced;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
    color: #ffffff;
    background: cadetblue;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 45px;
}

#cssmenu > ul > li.has-sub > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #d3eced;
    right: 1em;
    top: 1.6em;
}

#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
    border-top-color: #ffffff;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    top: 60px;
    padding-top: 6px;
    font-size: 13px;
    opacity: 0;
    -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
    -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
    -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
    -o-transition: top 0.2s ease, opacity 0.2s ease-in;
    transition: top 0.2s ease, opacity 0.2s ease-in;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}

#cssmenu > ul > li:hover > ul {
    top: 47px;
    left: 0;
    opacity: 1;
}

#cssmenu ul ul li .first{
    text-decoration: none;
    font-weight: 400;
    padding: 11px 25px;
    margin-bottom: -5px;
    width: 180px;
    color: #777777;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}

#cssmenu ul ul li .second{
    text-decoration: none;
    font-weight: 400;
    padding: 11px 25px;
    width: 180px;
    color: #777777;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
    color: #333333;
}
