@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

.header {
    position: absolute;
    width: 100%;
}

.main {
    min-height: 100%;
    padding-top: 52px;
    position: relative;
    display: flex;
}


