@import 'shared/palette';

.btn-primary {
  border-color: cadetblue;
  background-color: cadetblue;
}

div.form-group {
  margin-bottom: 20px;
}

span.input-group-addon, input.form-control, textarea.form-control {
  border: 0;
  border-bottom: 2px solid $color-primary;
  background-color: white;
  border-radius: 0px;
  box-shadow: none !important;
  transition: border-color 0.3s ease-in;

  &:focus {
    box-shadow: none;
    border-color: $color-primary;
  }
}

textarea.form-control {
  resize: none;
  overflow: auto;
}

span.input-group-addon {
  color: $color-primary;
}

label.control-label {
  color: $label-color;
}

div.has-error {
  .input-group-addon,
  .form-control,
  .help-block {
    color: $color-error, ;
  }

  span.input-group-addon {
    background-color: white;
  }

  .form-control, .input-group-addon {
    border-color: $color-error;

    &:focus {
      border-color: $color-error;
    }
  }

  .control-label {
    color: $label-color;
  }
}

button.ladda-button {
  border-radius: 0px;
  transition: background-color 0.3s ease-in;

  &:hover {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
  }
}

.ladda-label {
  font-size: 13px;
  text-transform: uppercase;
}

.ladda-button.ladda-button--primary {
  background: $color-primary;
  color: white;

  &:hover {
    background-color: lighten($color-primary, 5%);
    color: white;
  }
}

.md-button {
  padding: 6px;
  margin: 6px 8px 6px 0px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button--primary {
  background-color: $color-primary;
}

.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.md-button--flat {
  background-color: white;
  min-width: 0px;
}

.md-button--flat--primary {
  color: $color-primary;
}

