@import 'shared/palette';

.header {
  z-index: 1000;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.navbar.navbar-default {
  margin-bottom: 0px;
  border-radius: 0;
}

.icon-user {
  margin-right: 10px;
  float: left;
  margin-top: -2px;
}
