@import 'shared/palette';

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
div.modal-content {
    border-radius: 0px;
}
div.modal-footer {
    border: 0;
    padding: 10px;
}

h3.modal-title {
    font-size: 20px;
    color: $color-primary;
}

// GENERIC SELECTORS

.modal--custom__head {
    padding: 10px;
}

.modal--custom__title {
    font-size: 18px;
}

div.modal--custom__footer {
    text-align: center;
}

.modal--custom__message {
    text-align: center;
    margin: 0px;
    font-size: 13px;
}

// ERROR MODAL

.modal--error__head {
    @extend .modal--custom__head;
    background-color: $color-error;
    color: white;
}

// CONFIRM MODAL

.modal--confirm__head {
    @extend .modal--custom__head;
    background-color: $color-primary;
    color: white;
}

