/* bootstrap */

.active {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
    color: white !important;
}
.btn-primary {
    border-color: cadetblue;
    background-color: cadetblue;
}

/**/

.toolbox {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0px !important;
    padding: 15px 0px 15px 15px;
    margin: 0px !important;
    -webkit-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.11) !important;
    -moz-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.11) !important;
    box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.11) !important;
    z-index: 1;
}
.selects {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin: 0;
}
.selects.full {
    width: 100%;
    margin-right: 0px !important;
}
.selects.panel {
    margin-bottom: 0px;
}
.selects:first-child {
    margin-right: 2%;
}
.gorizont {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    background-color: white;
    padding: 10px 10px 0px 10px;
}
.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}
.inputs.full {
    width: 100%;
    margin-right: 0px !important;
}
.input-wrap {
    min-width: 85px;
}
.inputs input {
    padding-left: 5px;
    padding-right: 5px;
    border-top: none;
    border-right: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 20%;
    margin: 0;
}

.inputs .full input {}
.inputs:first-child {
    margin-right: 2%;
}
.obj-input {
    min-width: 60px;
}
.attr-input {
    min-width: 70px;
}
.textareas {
    resize: none;
    otline: none;
    border-style: none;
    top: 2%;
    left: 3%;
    width: 94%;
    height: 98%;
    margin: 0;
    margin-left: 5px;
    opacity: 0.85;
}
.headd {
    padding: 0;
}
.tabName {
    text-align: center;
}
.controlPanel {
    width: 20%;
    height: 100%;
    border: none;
    font-size: 15px;
    float: left;
    margin-right: 3px;
    margin-top: 5%;
}
#cont {
    width: 40%;
    height: 50%;
    margin-left: 0%;
    margin-right: auto;
}
#icon {
    background-image: url('icon/no_avatar.gif');
    background-size: cover;
    margin: auto;
    top: 5px;
    width: 50px;
    height: 50px;
}
.logout {
    display: block;
    position: relative;
    overflow: hidden;
    height: 70%;
    top: 15%;
    min-width: 120px;
    width: 10%;
    left: 5%;
    float: left;
    background-color: #eee;
}
.icondiv {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.logoutButton {
    position: relative;
    border: 2px solid #ac4;
    height: 50%;
    top: 35%;
    min-width: 120px;
    width: 10%;
    right: 5%;
    float: right;
    background-color: #fee;
}
.logoutButton:hover {
    background-color: #fff;
}
.userTextDiv {
    margin-left: 10px;
}

/* -------------------- */
.tile-container {
    height: 100%;
    width: 100%;
    position: absolute;
}
.tile {
    height: 100%;
    overflow-y: auto;
}

/* -------------------- */

/* workenv panels */
.content-box {
    height: 100%;
    width: 100%;
}
.content-header {
    position: absolute;
    height: 75px;
    padding-left: 20px;
    width: 100%;
}
.content-header .buttonsBar {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.box {
    display: flex;
    height: 100%;
    width: 100%;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}
.with-header {
    padding-top: 75px;
}
.namePanel {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    min-width: 200px;
    margin-bottom: 0px !important;
    border-left: 0 !important;
}
.namePanel .panel-body {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0px;
    height: 0;
}
.objects-select {
    flex-grow: 1;
    padding: 0px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}
.objects-select a {
    border-radius: 0px !important;
    border-left: 0;
    border-right: 0;
}
.new-object {
    display: flex;
}
.new-object button {
    margin: auto;
}
.detailsPanel {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 100%;
    float: left;
    position: relative;
    flex-grow: 1;
    border-left: 0 !important;
    border-right: 0 !important;
    margin-bottom: 0px !important;
}
.detailsPanel .panel-body {
    overflow-y: auto;
    flex-grow: 1;
}
.deleteButton {
    margin-left: 82%;
    border: none;
}
.al {
    position: relative;
    padding-top: 1%;
    padding-left: 1%;
}
.alBig {
    position: relative;
    padding-top: 3%;
    padding-left: 3%;
}
.statistics-name {
    margin-bottom: 15px;
}

/* algorithmic dependencies */
.attr-src th {
    vertical-align: middle !important;
}
.attr-src td {
    vertical-align: middle !important;
}
.attr-src button, .attr-src input {
    border-color: white;
    box-shadow: none;
}
.attr-src button:hover, .attr-src input:hover {
    border-color: #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.remove-attr-src-cell {
    text-align: right;
}
.attr-src-new .table {
    background-color: #f5f5f5 !important;
    margin-bottom: 0px;
}
.attr-src-new button, .attr-src-new input {
    border-color: #ccc;
}
.algorithmic-dependency {
    margin: 10px;
}
.attr-src-new tr:first-child > td {
    border-top: 0;
}
.badge {
    cursor: pointer;
}
.stat-object {
    position: relative;
    overflow-y: visible !important;
}
.stat-object .badge {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* informational rquirements */
.inf-req-tab {
    height: 100%;
}

/* constraints */
.button-delete-constraint {
    float: right;
}
.constraint-text {
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.constraintsList {
    padding-top: 20px;
}
.constraint-content {
    margin-top: 20px;
}
.constraints-tabgroup {
    position: absolute !important;
    z-index: 2000;
}
.constraints-list {
    padding-top: 50px;
    overflow-y: scroll;
    height: 100%;
}

/* algo */
.form-group {
    margin-bottom: 30px !important;
}
.algo-list {
    overflow: auto;
    height: 100%;
    padding-bottom: 50px;
}
.fixed-container {
    left: 50%;
    position: absolute;
    bottom: 25px;
}
.button-fixed {
    position: relative;
    left: -50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.44);
}

/*integrity*/
.button-action-constraint {
    position: absolute;
    margin-top: -34px;
    right: 15px;
}

/* document */
.tile-doc {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tile-doc.panel.panel-default {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    margin: 0px;
}
.doc-content {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
}
.doc-content.panel.panel-default {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
