/**/

.toolbox {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0px !important;
    padding: 15px 0px 15px 15px;
    margin: 0px !important;
    -webkit-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.11) !important;
    -moz-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.11) !important;
    box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.11) !important;
    z-index: 1;
}
.selects {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin: 0;
}
.selects.full {
    width: 100%;
    margin-right: 0px !important;
}
.selects.panel {
    margin-bottom: 0px;
}
.selects:first-child {
    margin-right: 2%;
}
.gorizont {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    background-color: white;
    padding: 10px 10px 0px 10px;
}
.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}
.inputs.full {
    width: 100%;
    margin-right: 0px !important;
}
.input-wrap {
    min-width: 85px;
}
.inputs input {
    padding-left: 5px;
    padding-right: 5px;
    border-top: none;
    border-right: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 20%;
    margin: 0;
}

.inputs .full input {}
.inputs:first-child {
    margin-right: 2%;
}
.obj-input {
    min-width: 60px;
}
.attr-input {
    min-width: 70px;
}
.textareas {
    resize: none;
    otline: none;
    border-style: none;
    top: 2%;
    left: 3%;
    width: 94%;
    height: 98%;
    margin: 0;
    margin-left: 5px;
    opacity: 0.85;
}

/* -------------------- */
.tile-container {
    height: 100%;
    width: 100%;
    position: absolute;
}
.tile {
    height: 100%;
    overflow-y: auto;
}

/* -------------------- */

/* workenv panels */
.content-box {
    height: 100%;
    width: 100%;
}
.content-header {
    position: absolute;
    height: 75px;
    padding-left: 20px;
    width: 100%;
}
.content-header .buttonsBar {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.box {
    display: flex;
    height: 100%;
    width: 100%;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}
.with-header {
    padding-top: 75px;
}
.namePanel {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    min-width: 200px;
    margin-bottom: 0px !important;
    border-left: 0 !important;
}
.namePanel .panel-body {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0px;
    height: 0;
}
.objects-select {
    flex-grow: 1;
    padding: 0px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}
.objects-select a {
    border-radius: 0px !important;
    border-left: 0;
    border-right: 0;
}
.detailsPanel {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 100%;
    float: left;
    position: relative;
    flex-grow: 1;
    border-left: 0 !important;
    border-right: 0 !important;
    margin-bottom: 0px !important;
}
.detailsPanel .panel-body {
    overflow-y: auto;
    flex-grow: 1;
}
.deleteButton {
    margin-left: 82%;
    border: none;
}

/* algorithmic dependencies */
.attr-src th {
    vertical-align: middle !important;
}
.attr-src td {
    vertical-align: middle !important;
}
.attr-src button, .attr-src input {
    border-color: white;
    box-shadow: none;
}
.attr-src button:hover, .attr-src input:hover {
    border-color: #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.attr-src-new .table {
    background-color: #f5f5f5 !important;
    margin-bottom: 0px;
}
.attr-src-new button, .attr-src-new input {
    border-color: #ccc;
}
.attr-src-new tr:first-child > td {
    border-top: 0;
}
.badge {
    cursor: pointer;
}
.stat-object {
    position: relative;
    overflow-y: visible !important;
}
.stat-object .badge {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* constraints */
.button-delete-constraint {
    float: right;
}
.constraint-text {
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.constraint-content {
    margin-top: 20px;
}

/*integrity*/
.button-action-constraint {
    position: absolute;
    margin-top: -34px;
    right: 15px;
}

/* document */
.tile-doc {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tile-doc.panel.panel-default {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    margin: 0px;
}
.doc-content {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
}
.doc-content.panel.panel-default {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
