<div class="modal-head modal--confirm__head">
    <div class="modal--custom__title">
        <i class="fa fa-check-circle-o"></i>
        Confirm
    </div>
</div>
<div class="modal-body">
    <p class="modal--custom__message">{{message}}</p>
</div>
<div class="modal-footer modal--custom__footer">
    <button class="md-button md-button--flat md-button--flat--primary"
            type="button" ng-click="no()">No</button>
    <button class="md-button md-button--flat md-button--flat--primary"
            type="button" ng-click="yes()">Yes</button>
</div>

