<div class="modal-header">
    <h3 class="modal-title">{{mode === 'create' ? 'Create project' : 'Update project'}}</h3>
</div>
<div class="modal-body">
    <form name="projectForm" role="form">
        <div class="form-group" ng-class="{'has-error': hasErrors('title')}">
            <label class="control-label" for="title">Название:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
                <input name="title" type="title" id="title" class="form-control" value=""
                       autofocus="autofocus" tabindex="1" placeholder="Название" ng-required ng-maxlength="64"
                       ng-model="project.title"/>
            </div>
            <span class="help-block" ng-show="hasErrors('title')"
                  ng-messages="projectForm.title.$error">
                <p ng-message="required">Title is required.</p>
                <p ng-message="maxlength">Too long.</p>
            </span>
        </div>
        <div class="form-group" ng-class="{'has-error': hasErrors('description')}">
            <label class="control-label" for="description">Описание:</label>
            <textarea msd-elastic rows="2" name="description" id="description" class="form-control" value=""
                   autofocus="autofocus" tabindex="2" placeholder="Описание" ng-required ng-maxlength="255"
                   ng-model="project.description"/>
            <span class="help-block" ng-show="hasErrors('description')"
                  ng-messages="projectForm.description.$error">
                <p ng-message="required">Description is required.</p>
                <p ng-message="maxlength">Too long.</p>
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="md-button md-button--flat"
            type="button" ng-click="cancel()">Cancel</button>
    <button class="md-button md-button--flat md-button--flat--primary" ng-show="mode === 'create'"
            type="button" ng-click="create()" ng-disabled="projectForm.$invalid || creating">{{ creating ? 'Creating...' : 'Create' }}</button>
    <button class="md-button md-button--flat md-button--flat--primary" ng-show="mode === 'edit'"
            type="button" ng-click="update()" ng-disabled="projectForm.$invalid || updating">{{ updating ? 'Updating...' : 'Update' }}</button>
</div>
