<html ng-app="db" lang="ru">

<head>
    <base href="/DreamTeamProj/">
    <meta charset="utf-8">
    <meta lang="ru">
    <meta name="description" content="A tool for studying DataBases.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/lib/pure-release-0.6.0/pure-nr.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome-4.4.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/upside-menu.css">
    <link rel="stylesheet" type="text/css" href="css/workenv.css">
    <link rel="stylesheet" type="text/css" href="css/diagram.css">
    <link rel="stylesheet" type="text/css" href="css/figures.css">
    <link rel="stylesheet" type="text/css" href="css/modals.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap/bootstrap.css.map">
    <!-- <link rel="stylesheet" type="text/css" href="css/lib/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap/bootstrap-theme.css.map"> -->
    <link rel="stylesheet" type="text/css" href="css/lib/joint/joint.css">
    <script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>-->

    <script src="js/lib/joint.js" type="text/javascript"></script>
    <script src="js/lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/lib/html2canvas.js" type="text/javascript"></script>
    <script src="js/lib/canvg.js" type="text/javascript"></script>
    <script src="js/lib/jdoc.js" type="text/javascript"></script>

    <script src="js/services/config.js"></script>
    <script src="js/services/diagram-service.js"></script>
    <script src="js/services/figures-service.js"></script>
    <script src="js/services/links-service.js"></script>
    <script src="js/services/configure-diagram-service.js"></script>
    <script src="js/services/setup-drag-and-drop-service.js"></script>

    <script src="js/services/algorithmic-dependency-service.js"></script>
    <script src="js/services/object-service.js"></script>
    <script src="js/services/attribute-service.js"></script>
    <script src="js/services/report-service.js"></script>
    <script src="js/services/statistic-service.js"></script>
    <script src="js/services/search-service.js"></script>
    <script src="js/services/sort-service.js"></script>
    <script src="js/services/filter-service.js"></script>
    <script src="js/services/link-constraint-service.js"></script>
    <script src="js/services/attribute-constraint-service.js"></script>
    <script src="js/services/utils-service.js"></script>
    <script src="js/services/modals-service.js"></script>

    <script src="js/factories/data-loader-factory.js"></script>
    <script src="js/factories/common-controller-factory.js"></script>

    <script src="js/directives/visible-directive.js"></script>
    <script src="js/directives/fileread-directive.js"></script>

    <script src="js/controllers/dashboard-controller.js" type="text/javascript"></script>
    <script src="js/controllers/nav-controller.js" type="text/javascript"></script>
    <script src="js/controllers/document-controller.js" type="text/javascript"></script>
    <script src="js/controllers/objects-attrs-controller.js" type="text/javascript"></script>
    <script src="js/controllers/workenv-controller.js" type="text/javascript"></script>
    <script src="js/controllers/er-controller.js" type="text/javascript"></script>
    <script src="js/controllers/object-relations-controller.js "></script>
    <script src="js/controllers/use-case-controller.js "></script>
    <script src="js/controllers/informational-requirements-controller.js"></script>
    <script src="js/controllers/statistics-controller.js"></script>
    <script src="js/controllers/reports-controller.js"></script>
    <script src="js/controllers/integrity-constraints-controller.js"></script>
    <script src="js/controllers/algorithmic-dependencies-controller.js"></script>
    <script src="js/controllers/modals-controller.js"></script>
    <script src="js/controllers/upload-doc-controller.js"></script>
    <script src="js/controllers/generate-doc-controller.js"></script>

    <title>Document &ndash; Student project &ndash; DataBases</title>
</head>

<body ng-controller="DashboardCtrl" data-ng-init="init()" ng-click="hideAttrs();">
    <div id="background">
        <div ng-include="'tpl/nav.html'"></div>
        <div id="main" class="main">
            <div class="left-side">
                <div class="pure-menu custom-restricted-width">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 1}"><a href="#" class="pure-menu-link" ng-click="tab = 1">Документ</a></li>
                        <!-- <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 1}"><a href="#" class="pure-menu-link" ng-click="tab = 2">Объекты и атрибуты</a></li> -->
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 2}"><a href="#" class="pure-menu-link" ng-click="tab = 2">Use-Case</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 3}"><a href="#" class="pure-menu-link" ng-click="tab = 3">Relations</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 4}"><a href="#" class="pure-menu-link" ng-click="tab = 4">ER-модель</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 5}"><a href="#" class="pure-menu-link" ng-click="tab = 5">Информационные <br> потребности</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 6}"><a href="#" class="pure-menu-link" ng-click="tab = 6">Статистики</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 7}"><a href="#" class="pure-menu-link" ng-click="tab = 7">Отчеты</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 8}"><a href="#" class="pure-menu-link" ng-click="tab = 8">Алгоритмические <br> зависимости</a></li>
                        <li class="pure-menu-item" ng-class="{'pure-menu-selected': tab === 9}"><a href="#" class="pure-menu-link" ng-click="tab = 9">Ограничения целостности</a></li>
                    </ul>
                </div>
                <!-- <hr class="divider"></hr> -->
                <div class="oe" ng-include="'tpl/objects-attrs.html'"></div>
            </div>
            <div class="extend-box">
                <!-- <div visible="tab === 1" class="tile-container" ng-include="'tpl/objects-attributes.html'"></div> -->
                <div visible="tab === 1" class="tile-container" ng-include="'tpl/document.html'"></div>
                <div visible="tab === 2" class="tile-container" ng-include="'tpl/use-case.html'"></div>
                <div visible="tab === 3" class="tile-container" ng-include="'tpl/object-relations.html'"></div>
                <div visible="tab === 4" class="tile-container" ng-include="'tpl/er.html'"></div>
                <div visible="tab === 5" class="tile-container" ng-include="'tpl/informational-requirements.html'"></div>
                <div visible="tab === 6" class="tile-container" ng-include="'tpl/statistics.html'"></div>
                <div visible="tab === 7" class="tile-container" ng-include="'tpl/reports.html'"></div>
                <div visible="tab === 8" class="tile-container" ng-include="'tpl/algorithmic-dependencies.html'"></div>
                <div visible="tab === 9" class="tile-container" ng-include="'tpl/integrity-constraints.html'"></div>
            </div>
        </div>
        <div id="footer" class="footer">
            <p class="legal-copyright">
                © 2014 DreamTeam! All rights reserved.
            </p>
        </div>
        <canvas id="canvas"></canvas>
        <div ng-include="'modals/modals.html'"></div>
    </div>
</body>

</html>
