<html ng-app="db" lang="ru">

<head>
    <meta charset="utf-8">
    <meta lang="ru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/lib/pure-release-0.6.0/pure-nr.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome-4.4.0/css/font-awesome.css">
    <script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script src="js/controllers/settings-controller.js" type="text/javascript"></script>

    <!--Online links:
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>-->

    <title>Dashboard &ndash; User information &ndash; DataBases</title>
</head>

<body ng-controller="SettingsCtrl" data-ng-init="init()">
    <div id="background">
        <div id="header" class="header">
            <div class="user-name-block">
                {{ user.FullName }}
            </div>
            <div class="user-logout-block pointer" ng-click="goURL('login/index.html');">Выход</div>
        </div>
        <div id="main" class="main settings-main">
            <div class="settings-links">
                <div class="">
                    <a href="" class="" ng-click="changeTab(1)">Управление проектами</a>
                </div>
                <div ng-show="tab === 2" class="">
                    <a href="" class="" ng-click="changeTab(2)">Информация студента</a>
                </div>
            </div>
            <hr class="divider"></hr>
            <div class="extend-box">
                <div ng-show="tab === 1" class="tile-container" ng-include="'tpl/profile.html'"></div>
                <div ng-show="tab === 2" class="tile-container" ng-include="'tpl/projects.html'"></div>
            </div>
        </div>
        <div id="footer" class="footer">
            <p class="legal-copyright">
                © 2014 DreamTeam! All rights reserved.
            </p>
        </div>
    </div>
</body>

</html>
