<div class="tab" ng-controller="InfromationalRequirementsCtrl">
    <div class="content-box">
        <div class="btn-group buttonsBar">
            <button class="btn btn-default" ng-class="{ active: tab == 0}" ng-click="changeTab(0)"> Поиск </button>
            <button class="btn btn-default" ng-class="{ active: tab == 1}" ng-click="changeTab(1)"> Сортировки </button>
            <button class="btn btn-default" ng-class="{ active: tab == 2}" ng-click="changeTab(2)"> Фильтрации </button>
        </div>
        <div class="box with-header" ng-show="tab == 0">
            <div class="col-xs-1 panel panel-default namePanel">
                <div class="panel-heading ">
                    <h3 class="panel-title h2">Объект поиска</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group  objects-select">
                        <a ng-repeat="s in getCurrentObjects() track by $index" ng-class="{active: $index == getSelectedIndex()}" href="#" ng-click="selectObj($index)" class="list-group-item">{{s.name}}</a>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <div class="dropup objDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить объект</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="obj in objects track by $index"><a ng-click="selectNewObj($index)" role="menuitem" tabindex="-1" href="#">{{obj.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default detailsPanel ">
                <div class="panel-heading ">
                    <h3 class="panel-title">Атрибуты для поиска</h3>
                </div>
                <div class="panel-body" ng-show="searches.length">
                    <ul class="list-group">
                        <li ng-repeat="attr in getCurrentAttrs() track by $index" class="list-group-item">
                            {{attr}}
                            <span ng-click="removeAttr($index)" class="badge">x</span>
                        </li>
                    </ul>
                    <div class="btn-group">
                        <div class="dropdown attrDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить атрибут</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="attr in getPossibleAttrs() track by $index"><a role="menuitem" ng-click="selectNewAttr(attr)" tabindex="-1" href="#">{{attr}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box with-header" ng-show="tab == 1">
            <div class="col-xs-1 panel panel-default namePanel">
                <div class="panel-heading ">
                    <h3 class="panel-title h2">Объект сортировки</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group  objects-select">
                        <a ng-repeat="s in getCurrentObjects() track by $index" ng-class="{active: $index == getSelectedIndex()}" href="#" ng-click="selectObj($index)" class="list-group-item">{{s.name}}</a>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <div class="dropup objDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить объект</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="obj in objects track by $index"><a ng-click="selectNewObj($index)" role="menuitem" tabindex="-1" href="#">{{obj.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default detailsPanel ">
                <div class="panel-heading ">
                    <h3 class="panel-title">Атрибуты для сортировки</h3>
                </div>
                <div class="panel-body" ng-show="sorts.length">
                    <ul class="list-group">
                        <li ng-repeat="attr in getCurrentAttrs() track by $index" class="list-group-item">
                            {{attr}}
                            <span ng-click="removeAttr($index)" class="badge">x</span>
                        </li>
                    </ul>
                    <div class="btn-group">
                        <div class="dropdown attrDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить атрибут</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="attr in getPossibleAttrs() track by $index"><a role="menuitem" ng-click="selectNewAttr(attr)" tabindex="-1" href="#">{{attr}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box with-header" ng-show="tab == 2">
            <div class="col-xs-1 panel panel-default namePanel">
                <div class="panel-heading ">
                    <h3 class="panel-title h2">Объект фильтрации</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group  objects-select">
                        <a ng-repeat="s in getCurrentObjects() track by $index" ng-class="{active: $index == getSelectedIndex()}" href="#" ng-click="selectObj($index)" class="list-group-item">{{s.name}}</a>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <div class="dropup objDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить объект</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="obj in objects track by $index"><a ng-click="selectNewObj($index)" role="menuitem" tabindex="-1" href="#">{{obj.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default detailsPanel ">
                <div class="panel-heading ">
                    <h3 class="panel-title">Атрибуты для фильтрации</h3>
                </div>
                <div class="panel-body" ng-show="filters.length">
                    <ul class="list-group">
                        <li ng-repeat="attr in getCurrentAttrs() track by $index" class="list-group-item">
                            {{attr}}
                            <span ng-click="removeAttr($index)" class="badge">x</span>
                        </li>
                    </ul>
                    <div class="btn-group">
                        <div class="dropdown attrDropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                <span>Добавить атрибут</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" ng-repeat="attr in getPossibleAttrs() track by $index"><a role="menuitem" ng-click="selectNewAttr(attr)" tabindex="-1" href="#">{{attr}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
