<div  class="tile"  ng-controller="ReportsCtrl">
    <div class="box">
        <div class="col-xs-1 panel panel-default namePanel">
            <div class="panel-heading ">
                <h3 class="panel-title h2">Отчет</h3>
            </div>
            <div class="panel-body">
                <div class="list-group objects-select">
                    <a ng-repeat="r in reports track by $index" ng-class="{active: $index == reports.selected}" href="#" ng-click="selectReport($index)" class="list-group-item">{{r.name}}</a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название..." ng-model="newStatistic">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addReport()">+</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel panel-default detailsPanel ">
            <div class="panel-heading ">
                <h3 class="panel-title">Детали отчета</h3>
            </div>
            <div class="panel-body" ng-show="reports.length">
                <h4>Объект</h4>
                <div class="btn-group">
                    <div class="dropdown objDropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                            <span>{{getCurrentObject()}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="object in objects track by $index"><a role="menuitem" ng-click="selectObj($index)" tabindex="-1" href="#">{{object.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <h4>Атрибуты</h4>
                <ul class="list-group">
                    <li ng-repeat="attr in getCurrentAttrs() track by $index" class="list-group-item">
                        {{attr}}
                        <span ng-click="removeAttr($index)" class="badge">x</span>
                    </li>
                </ul>
                <div class="btn-group">
                    <div class="dropdown attrDropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                            <span>Добавить атрибут</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="attr in getPossibleAttrs() track by $index"><a role="menuitem" ng-click="selectAttr(attr)" tabindex="-1" href="#">{{attr}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
