<div class="tile" ng-controller="StatisticsCtrl">
    <div class="box">
        <div class="col-xs-1 panel panel-default namePanel">
            <div class="panel-heading ">
                <h3 class="panel-title h2">Статистика</h3>
            </div>
            <div class="panel-body">
                <div class="list-group objects-select">
                    <a ng-repeat="s in statistics" ng-class="{active: s.id === statistic.id}" href="#" ng-click="selectStatistic(s)" class="list-group-item">{{s.name}}</a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название..." ng-model="statisticName" ng-keypress="onKeypress($event)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addStatistic()">+</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel panel-default detailsPanel ">
            <div class="panel-heading ">
                <h3 class="panel-title">Детали статистики</h3>
            </div>
            <div class="panel-body" ng-show="statistic">
                <div ng-repeat="object in statistic.objects" class="panel panel-default">
                    <div class="panel-body stat-object">
                        <h4>{{object.name}}</h4>
                        <span ng-click="removeObject(object)" class="badge">x</span>

                        <ul class="list-group">
                            <li ng-repeat="attr in object.attrs" class="list-group-item">
                                {{attr.name}}
                                <span ng-click="removeAttr(object, attr)" class="badge">x</span>
                            </li>
                        </ul>
                        <div class="btn-group" ng-show="availableAttrs[object.id].length">
                            <div class="dropdown attrDropup" ng-click="initDropdowns()">
                                <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                                    <span>Добавить атрибут</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation" ng-repeat="attr in availableAttrs[object.id]">
                                        <a role="menuitem" ng-click="addAttr(object, attr)" tabindex="-1" href="#">
                                                    {{attr.name}}
                                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group" ng-show="availableObjects.length">
                    <div class="dropdown objDropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown">
                            <span>Добавить объект</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="object in availableObjects">
                                <a role="menuitem" ng-click="addObject(object)" tabindex="-1" href="#">
                                            {{object.name}}
                                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
