<div class="panel panel-default article-add-box" ng-controller="AddObjectFormCtrl">
    <div class="panel-heading">
        Добавить объект
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="panel-body">
        <h5>Ссылки к документу</h5>
        <div class="added-words well">
            <span class="added-word" ng-repeat="addedWord in addedWords">{{addedWord.word}}</span>
        </div>
        <ul class="nav nav-pills add-type">
            <li role="presentation" class="active"><a href="#">Объект</a></li>
            <li role="presentation"><a href="#">Атрибут</a></li>
        </ul>
        <form>
            <div class="form-group">
                <label for="entityName">Название</label>
                <input type="text" class="form-control" id="entityName" placeholder="Название">
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary">Добавить</button>
    </div>
</div>
