<div ng-controller="EntitiesAttrsCtrl" class="panel panel-default tool-panel">
    <div class="panel-heading tool-panel__heading">
        <h3 class="tool-panel__title panel-title">
            <span class="fa fa-arrow-left tool-panel__back" ng-click="deselectEntity()" ng-show="entity"></span>
            {{entity ? 'Атрибуты ' + entity.name : 'Объекты'}}
            <span class="fa fa-minus tool-panel__minify" ng-click="toggleShowPanel('objects')" uib-tooltip="Скрыть"></span>
        </h3>
    </div>
    <div class="list-group list-group--scrollable" ng-hide="entity">
        <a ng-repeat="ent in entities | orderBy : '-id'" href="javascript:void(0)"
           ng-click="selectEntity(ent); $event.stopPropagation();" class="list-group-item entity">
            <span class="entity__name">{{ent.name}}</span>
            <span class="entity__attrs-count" uib-tooltip="{{ent.attrs.length + ' атрибутов'}}">
                {{ent.attrs.length}}
            </span>
            <span class="entity__action entity__action--remove fa fa-remove"
                  uib-tooltip="Удалить" ng-click="removeEntity(ent); $event.stopPropagation();"></span>
        </a>
        <div class="list-group__no-items" ng-hide="entities.length">
            <span class="no-items__text">Пока ни одного объекта</span>
        </div>
    </div>
    <div class="list-group list-group--scrollable" ng-show="entity">
        <a ng-repeat="attr in entity.attrs | orderBy : '-id'" href="javascript:void(0)" class="list-group-item attr">
            <span class="attr__name">{{attr.name}}</span>
            <span class="attr__action attr__action--remove fa fa-remove"
                  uib-tooltip="Удалить" ng-click="removeAttr(attr); $event.stopPropagation();"></span>
        </a>
        <div class="list-group__no-items" ng-hide="entity.attrs.length">
            <span class="no-items__text">Пока ни одного атрибута</span>
        </div>
    </div>

    <div class="tool-panel__footer tool-panel--entities__footer panel-footer">
        <div class="form form--inline" ng-hide="entity">
            <input type="text" class="form-control" placeholder="Название объекта" ng-model="entityName"
                   ng-keypress="onKeypress($event, addEntity)">
            <button class="md-button md-button--inline md-button--inline--primary" type="button" ng-click="addEntity()">
                Add</button>
        </div>
        <div class="form form--inline" ng-show="entity">
            <input type="text" class="form-control" placeholder="Название атрибута" ng-model="attrName"
                   ng-keypress="onKeypress($event, addAttr)">
            <button class="md-button md-button--inline md-button--inline--primary" type="button" ng-click="addAttr()">
                Add</button>
        </div>
    </div>
</div>
